$dark_primary_color: #101010;
$middle_color: #838383;
$light_primary_color: #ffffff;
$dark_accent_color: #ffa542;
$light_accent_color: #ffcf7f;
$bc_color: #eaeaea;
$box_shadow: 0 0 20px rgba(#000000, 0.1);
