$logo_font: 700 25px/30px 'Montserrat', system-ui;
$title_font: 600 20px/25px 'Montserrat', system-ui;
$main_font: 600 17px/21px 'Montserrat', system-ui;
$medium_font: 500 15px/18px 'Montserrat', system-ui;
$small_font: 600 13px/16px 'Montserrat', system-ui;
